.pizza-image{
    border-radius: 10px;
}

.pizza-container{
    display: flex;
    width: 90%;
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid black;
    flex-direction: row;
}
.size-row{
    display: flex;
    height: fit-content;
    margin-left: 10px;
    flex-direction: row;
}
.ingridient-row{
    display: flex;
    flex-direction: row;
    margin-top: 100;
}
button{
    border-radius: 10px;
    border-color: transparent;
}

#addToCart{
    background-color: aqua;
}